.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Center on the page */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px; /* Adjust width */
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  